
<h4>User Authentication</h4>
<% if logged_in? %>
         <h2>You are Logged In as , <%= current_user.email %></h2>
    <% else %>
        <span>If you have already created an account with your email address, please login.<span/>
        <%= button_to "Login", '/login', method: :get%><br/>
        <span>If you have not created an account yet, please sighup.  <span/>
        <%= button_to "Sign Up", '/users/new', method: :get%>
<%end%>
