<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Scheduled Reminders Apllication, <%= @user.email %></h1>
    <p>
      This is an email notification For a reminder <br/>
      Title : <%= @reminder.title %><br/>
      Body : <%= @reminder.body %>
    </p>
  
    <p>Thank you !</p>
  </body>
</html>